@{
    ViewBag.Title = "ROBOTS!";  
}

<div class="hero-unit">
    <img src="~/img/logo2.png" style="width:300px;" alt="The Robot Forge" />
    <img src="~/img/banner2.png" />
    <p class="lead">The Robot Forge is where robot makers come to learn about robotics, build robots from components and software and interact with other robot makers.</p>
</div>
<div class="row">
    <div class="span4">
        <h2>
            <img src="~/img/robot.png" style="width:32px;margin-right:15px;"/>
            <img src="~/img/Learn.png" /></h2>
        <p>Robotics is a pathway to learning hardware and software engineering.  Follow us for weekly classes and activities.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Learn more &raquo;"), "Index", "Learn", null, new { @class = "btn" })</p>
        </div>
    <div class="span4">
        <h2><img src="~/img/robot.png" style="width:32px;margin-right:15px;" />
            <img src="~/img/Build.png" /></h2>
        <p>Make robots by assemblying actuators, sensors, controllers and writing programs.  This is where we show off some of prototypes and production models.</p>
        <p><a class="btn" href="~/Views/Home/Build.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2><img src="~/img/robot.png" style="width:32px;margin-right:15px;" />            
            <img src="~/img/Interact.png" /></h2>
        <p>Robot makers are everywhere.  Here you can read about the latest creations and participate in a safe social network of like minded creators.</p>
        <p><a class="btn" href="~/Views/Home/Interact.cshtml">Learn more &raquo;</a></p>
    </div>
</div>
